.container {
    width: 100%;
    background: linear-gradient(to right, #020008, #040014);
    box-shadow: 0 0 20px rgba(0, 0, 40, 0.6);
    display: flex;
}

.list {
    color: white;
    display: flex;
    width: 40vw;
    gap: 3vw;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}